* { 
    box-sizing: border-box;
    
}
:root{
    --start:#000000;
    --end:#111111;
    --f_color:#1a1521;
    --s_color:#866584;
    --time: 10s;
    --move: moveBg var(--time) linear infinite; 
}
html {
    min-height: 100%;
    background: var(--f_color);
    animation: var(--move);
}

.container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--f_color);
    animation: changeColor var(--time) linear infinite;
}

.centre{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    box-shadow:  var(--end) 3px 3px 6px 0px inset, var(--start) -3px -3px 6px 1px inset;
    border: 3px none #ccc;
    padding: 50px 50px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

h1, .username, .password, #username, #password{
    background-clip: text;
    align-items: center;
}

#username, #submit{
    display: table-row;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    margin: 5px;
    border: 3px solid #ccc;
}

#submit, #username{
    border: none;
    background-color: transparent;
    text-align: center;
}

@keyframes moveBg {
    0% { background: var(--f_color); }
    100% { background: var(--s_color); }
}
@keyframes changeColor {
    0% { color: var(--f_color); }
    100% { color: var(--s_color); }
}